Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.js": ["prettier --write", "git add"],
  "**/*.ts": ["eslint --fix", "prettier --write", "git add"],
  "**/*.{json,yaml,yml,md}": ["prettier --write", "git add"]
}

setTimeout ambigous return type fixed
  services/src/modules/directives/gql.ts
Due: prettier --write, eslint --fix

Tests fixed
  package-lock.json
  package.json
  services/package-lock.json
  services/package.json
  services/src/modules/directives/gql.ts
  services/src/modules/storage/s3.spec.ts
  services/tests/integration/gateway/gql-directive.spec.ts
Due: prettier --write, eslint --fix

Introspection stability (#173)
  package-lock.json
  package.json
  services/package-lock.json
  services/package.json
  services/src/modules/directives/gql.ts
  services/src/modules/storage/s3.spec.ts
  services/src/modules/storage/s3.ts
  services/tests/integration/gateway/gql-directive.spec.ts
Due: prettier --write, eslint --fix

fs repository - initialize policy attachments folder before trying to read from it
  services/src/modules/resource-repository/fs-repository.ts
  services/src/modules/resource-repository/resource-repository.ts
Due: prettier --write, eslint --fix

fs repository - initialize policy attachments folder before trying to read from it (#176)
  services/src/modules/resource-repository/fs-repository.ts
  services/src/modules/resource-repository/resource-repository.ts
Due: prettier --write, eslint --fix

Tests added - fails without implementation
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
Due: prettier --write, eslint --fix

Resolve interface and union types implicitly
  services/src/modules/build-federated-schema.ts
  services/src/modules/implicit-type-resolver.ts
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
Due: prettier --write, eslint --fix

Implicit type resolver (#177)
  services/src/modules/build-federated-schema.ts
  services/src/modules/implicit-type-resolver.ts
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
Due: prettier --write, eslint --fix

Authentication documentation
  docs/authentication.md
  docs/authorization.md
  docs/parameter_injection.md
Due: prettier --write

Links to docs added to README.md
  README.md
  docs/authentication.md
  docs/authorization.md
Due: prettier --write

Authentication documentation (#178)
  README.md
  docs/authentication.md
  docs/authorization.md
  docs/parameter_injection.md
Due: prettier --write

Logs & Metrics
  services/package.json
  services/src/gateway.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/logging.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/utils/prometheus-metrics-serializer.ts
Due: prettier --write, eslint --fix

Review changes
  services/src/modules/gateway.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/logging.ts
  services/src/modules/plugins/metrics.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.schema.ts
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/rest-directive.spec.ts
  services/tests/integration/gateway/schema-extensions.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
  services/tests/utils/prometheus-metrics-serializer.ts
Due: prettier --write, eslint --fix

Measure only custom resolvers
  services/src/modules/plugins/metrics.ts
Due: prettier --write, eslint --fix

Logs & Metrics (#180)
  services/package.json
  services/src/gateway.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/logging.ts
  services/src/modules/plugins/metrics.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.schema.ts
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/rest-directive.spec.ts
  services/tests/integration/gateway/schema-extensions.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
  services/tests/utils/prometheus-metrics-serializer.ts
Due: prettier --write, eslint --fix

@localResolver to replace @stub, also supporting merging and deep merging the stub value with the original resolver value
  docs/arguments_injection.md
  docs/data_sources.md
  services/package-lock.json
  services/package.json
  services/src/modules/arguments-injection/arguments-injection.ts
  services/src/modules/directives/index.ts
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
  services/src/modules/graphql-service.ts
  services/tests/e2e/authentication/verify-jwt.schema.ts
  services/tests/e2e/authorization/auth-base-policy.schema.ts
  services/tests/e2e/authorization/auth-directives-order.schema.ts
  services/tests/e2e/authorization/auth-jwt.schema.ts
  services/tests/e2e/authorization/auth-object-directive.schema.ts
  services/tests/e2e/authorization/auth-with-queries.schema.ts
  services/tests/e2e/basic/hello-world.schema.ts
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/policy-directive.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
Due: prettier --write, eslint --fix

refactored argument injection to support arrays in deep injection, and to export only a single function that handles both deep injection and template injection
  services/src/modules/arguments-injection/arguments-injection.spec.ts
  services/src/modules/arguments-injection/arguments-injection.ts
  services/src/modules/arguments-injection/index.ts
  services/src/modules/directives/gql.ts
  services/src/modules/directives/local-resolver.ts
  services/src/modules/directives/rest/datasource.ts
  services/src/modules/utils.ts
  services/tests/integration/gateway/gql-directive.spec.ts
Due: prettier --write, eslint --fix

Create LICENSE
  LICENSE
Due: none

Github workflows
  .github/workflows/main.yaml
Due: prettier --write

.
  .github/workflows/main.yaml
Due: prettier --write

Support multiple @policy directive instances at the same location
  services/src/modules/directives/policy/policy.ts
  services/tests/integration/gateway/__snapshots__/policy-directive.spec.ts.snap
  services/tests/integration/gateway/policy-directive.spec.ts
Due: prettier --write, eslint --fix

Policies directive
  services/package.json
  services/src/modules/directives/index.ts
  services/src/modules/directives/policy/index.ts
  services/src/modules/directives/policy/policies.ts
  services/src/modules/graphql-service.ts
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/policies-directive.spec.ts
Due: prettier --write, eslint --fix

E2E tests
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/auth-policies-directive.schema.ts
  services/tests/e2e/authorization/auth-policies-directive.spec.ts
Due: prettier --write, eslint --fix

Policies directive (#186)
  services/package.json
  services/src/modules/directives/index.ts
  services/src/modules/directives/policy/index.ts
  services/src/modules/directives/policy/policies.ts
  services/src/modules/graphql-service.ts
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/auth-policies-directive.schema.ts
  services/tests/e2e/authorization/auth-policies-directive.spec.ts
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/policies-directive.spec.ts
Due: prettier --write, eslint --fix

Argument Injection Builtin Module
  services/src/modules/arguments-injection/arguments-evaluation.spec.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
  services/src/modules/arguments-injection/arguments-injection.ts
  services/src/modules/arguments-injection/index.ts
  services/src/modules/config.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/argument-injection.ts
  services/src/modules/plugins/index.ts
  services/tests/e2e/basic/__snapshots__/argument-injection.spec.ts.snap
  services/tests/e2e/basic/argument-injection.schema.ts
  services/tests/e2e/basic/argument-injection.spec.ts
  services/tests/e2e/config/argument-injection-builtin/index.js
  services/tests/e2e/docker-compose.yml
  services/tests/e2e/jest-e2e-runner.js
Due: prettier --write, eslint --fix

Plugins spec
  docs/specs/Plugins_spec.md
Due: prettier --write

First review
  docs/specs/Plugins_spec.md
Due: prettier --write

Rename plugins to apollo-server-plugins
  services/src/modules/apollo-server-plugins/base-policy.ts
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/apollo-server-plugins/logging.ts
  services/src/modules/apollo-server-plugins/metrics.ts
  services/src/modules/gateway.ts
Due: prettier --write, eslint --fix

Plugins loading + argument injection
  services/src/gateway.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
  services/src/modules/config.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/types.ts
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/argument-injection-globals.js
  services/tests/e2e/config/plugins/async-function.js
  services/tests/e2e/config/plugins/folder-with-index-file/index.js
  services/tests/e2e/config/plugins/folder-with-package-json-file/main.js
  services/tests/e2e/config/plugins/folder-with-package-json-file/package.json
  services/tests/e2e/config/plugins/function.js
  services/tests/e2e/config/plugins/promise.js
  services/tests/e2e/config/plugins/single-file.js
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Throw error on policy attachment missing
  services/src/modules/directives/policy/opa.ts
Due: prettier --write, eslint --fix

Refactor registry
  services/src/modules/registry-schema/index.ts
  services/src/modules/registry-schema/policy-attachments-generator.ts
  services/src/modules/registry-schema/repository.ts
  services/src/modules/registry-schema/resolvers.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/src/registry.ts
  services/tests/integration/registry/create-resources.spec.ts
  services/tests/integration/registry/update-resources.spec.ts
Due: prettier --write, eslint --fix

Resource group transformation plugin
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/types.ts
  services/src/registry.ts
  services/tests/e2e/.env
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-resource-group.js
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Add docs and unit tests
  README.md
  docs/plugins.md
  services/src/modules/plugins/__snapshots__/transform-resources-updates.spec.ts.snap
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/transform-resources-updates.spec.ts
Due: prettier --write, eslint --fix

imports fix
  services/src/modules/plugins/index.ts
Due: prettier --write, eslint --fix

fix fs import
  services/src/modules/plugins/apply-plugins.ts
Due: prettier --write, eslint --fix

plugins docs additions
  docs/plugins.md
Due: prettier --write

Plugins (#190)
  README.md
  docs/plugins.md
  services/src/gateway.ts
  services/src/modules/apollo-server-plugins/base-policy.ts
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/apollo-server-plugins/logging.ts
  services/src/modules/apollo-server-plugins/metrics.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
  services/src/modules/config.ts
  services/src/modules/directives/policy/opa.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/__snapshots__/transform-resources-updates.spec.ts.snap
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/transform-resources-updates.spec.ts
  services/src/modules/plugins/types.ts
  services/src/modules/registry-schema/index.ts
  services/src/modules/registry-schema/policy-attachments-generator.ts
  services/src/modules/registry-schema/repository.ts
  services/src/modules/registry-schema/resolvers.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/src/registry.ts
  services/tests/e2e/.env
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/argument-injection-globals.js
  services/tests/e2e/config/plugins/async-function.js
  services/tests/e2e/config/plugins/folder-with-index-file/index.js
  services/tests/e2e/config/plugins/folder-with-package-json-file/main.js
  services/tests/e2e/config/plugins/folder-with-package-json-file/package.json
  services/tests/e2e/config/plugins/function.js
  services/tests/e2e/config/plugins/promise.js
  services/tests/e2e/config/plugins/single-file.js
  services/tests/e2e/config/plugins/transform-resource-group.js
  services/tests/e2e/docker-compose.yml
  services/tests/integration/registry/create-resources.spec.ts
  services/tests/integration/registry/update-resources.spec.ts
Due: prettier --write, eslint --fix

Fix metrics removal for fields with default resolvers
  services/src/modules/apollo-server-plugins/metrics.ts
  services/src/modules/build-federated-schema.ts
  services/src/modules/config.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.schema.ts
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/utils/prometheus-metrics-serializer.ts
Due: prettier --write, eslint --fix
