Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build (github workflows): use pull_request event
  .github/workflows/pr.yaml
Due: prettier --write

build (github workflows): use pull_request event (#355)
  .github/workflows/pr.yaml
Due: prettier --write

add option for using a keep-alive timeout (#354)
  services/src/gateway.ts
  services/src/modules/config.ts
Due: prettier --write, eslint --fix

contribution file and eslint alignment
  .eslintrc
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
Due: prettier --write

Specifying environments fix
  .eslintrc
Due: none

eslint addons
  .eslintignore
  .eslintrc
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

eslint addons fix
  .eslintrc
  .gitignore
Due: none

eslint addons f
  .eslintrc
Due: none

final fixes after investigation
  .eslintrc
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

chore: contribution readme and eslint alignment (#356)
  .eslintignore
  .eslintrc
  .gitignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

security: patch vm2
  services/package-lock.json
  services/package.json
Due: prettier --write

security: patch vm2 (#358)
  services/package-lock.json
  services/package.json
Due: prettier --write

fix (tests): set NodeJS version to 16
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

fix (tests): set NodeJS version to 16 (#359)
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.{json,yaml,yml,md})
  eslint --fix: any of: **/*.ts
