Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.js": ["prettier --write", "git add"],
  "**/*.ts": ["eslint --fix", "prettier --write", "git add"],
  "**/*.{json,yaml,yml,md}": ["prettier --write", "git add"]
}

Separate gateway and registry repository files
  docs/plugins.md
  services/deployment/dev/minio_mount/stitch-resources/resources-gateway.json
  services/deployment/dev/minio_mount/stitch-resources/resources-registry.json
  services/src/modules/plugins/__snapshots__/transform-resource-group.spec.ts.snap
  services/src/modules/plugins/__snapshots__/transform-resources-updates.spec.ts.snap
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/transform-resource-group.spec.ts
  services/src/modules/plugins/types.ts
  services/src/modules/registry-schema/resolvers.ts
  services/src/modules/resource-repository/fs-repository.ts
  services/src/modules/resource-repository/resource-repository.ts
  services/src/modules/resource-repository/s3-repository.ts
  services/src/modules/resource-repository/types.ts
  services/tests/e2e/.env
  services/tests/e2e/authentication/verify-jwt.spec.ts
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-resource-group.js
  services/tests/e2e/docker-compose.yml
  services/tests/integration/resource-bucket.ts
  services/tests/integration/setup.js
Due: prettier --write, eslint --fix

Condition parameter for localResolver directive
  docs/data_sources.md
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

Easier condition
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

rename to enabledIf
  docs/data_sources.md
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

Condition parameter for localResolver directive (#213)
  docs/data_sources.md
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

Fix 0 or false value bug for query parameters
  services/src/modules/directives/rest/datasource.ts
Due: prettier --write, eslint --fix

Added a required flag to the @rest directive query params, updated docs and added tests
  docs/data_sources.md
  services/src/modules/directives/rest/datasource.spec.ts
  services/src/modules/directives/rest/datasource.ts
  services/src/modules/directives/rest/directive.ts
  services/src/modules/directives/rest/types.ts
Due: prettier --write, eslint --fix

Update data_sources.md
  docs/data_sources.md
Due: prettier --write

Updates requested in PR
  services/src/modules/directives/rest/datasource.spec.ts
  services/src/modules/directives/rest/datasource.ts
Due: prettier --write, eslint --fix

Push for CI
  docs/data_sources.md
Due: prettier --write

Add required flag to @rest directive query params (#210)
  docs/data_sources.md
  services/src/modules/directives/rest/datasource.spec.ts
  services/src/modules/directives/rest/datasource.ts
  services/src/modules/directives/rest/directive.ts
  services/src/modules/directives/rest/types.ts
Due: prettier --write, eslint --fix

Change node image version to lts-buster-slim
  services/deployment/dev/Dockerfile
  services/deployment/docker/Dockerfile
Due: none

Change node image version to lts-buster-slim (#214)
  services/deployment/dev/Dockerfile
  services/deployment/docker/Dockerfile
Due: none

Authorization - Base Policy: E2E test added for anonymous access
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/auth-base-policy.spec.ts
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Authorization - Base Policy: E2E test added for anonymous access (#216)
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/auth-base-policy.spec.ts
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Custom scalars
  services/package-lock.json
  services/package.json
  services/src/modules/base-schema/__snapshots__/scalars.spec.ts.snap
  services/src/modules/base-schema/index.ts
  services/src/modules/base-schema/scalars.spec.ts
  services/src/modules/base-schema/scalars.ts
  services/src/modules/directives/index.ts
  services/src/modules/directives/policy/index.ts
Due: prettier --write, eslint --fix

UTC date
  services/src/modules/base-schema/__snapshots__/scalars.spec.ts.snap
Due: none

Custom scalars (#215)
  services/package-lock.json
  services/package.json
  services/src/modules/base-schema/__snapshots__/scalars.spec.ts.snap
  services/src/modules/base-schema/index.ts
  services/src/modules/base-schema/scalars.spec.ts
  services/src/modules/base-schema/scalars.ts
  services/src/modules/directives/index.ts
  services/src/modules/directives/policy/index.ts
Due: prettier --write, eslint --fix

Exclude resource types
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
  cli/src/commands/apply/resources.ts
  cli/tests/apply-resources.spec.ts
  cli/tests/resources/schemas/employee.yaml
  cli/tests/resources/upstreams/employee-api.yaml
Due: prettier --write, eslint --fix

Review fixes
  cli/src/commands/apply/resources.ts
  cli/tests/apply-resources.spec.ts
Due: prettier --write, eslint --fix

CLI: Exclude resource types (#217)
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
  cli/src/commands/apply/resources.ts
  cli/tests/apply-resources.spec.ts
  cli/tests/resources/schemas/employee.yaml
  cli/tests/resources/upstreams/employee-api.yaml
Due: prettier --write, eslint --fix

CLI: SchemaV2 file type
  cli/package-lock.json
  cli/package.json
  cli/src/commands/apply/resources.ts
  cli/src/utils/build-stitched-schema.ts
  cli/tests/apply-resources.spec.ts
  cli/tests/resources/schemas/department-2.gql
  cli/tests/resources/schemas/department.gql
  cli/tests/resources/schemas/department.yaml
Due: prettier --write, eslint --fix

Glob package fixed
  cli/oclif.manifest.json
  cli/package-lock.json
  cli/package.json
  cli/src/utils/build-stitched-schema.ts
Due: prettier --write, eslint --fix

Tests for CLI
  .eslintrc
  .github/workflows/cli.yaml
Due: prettier --write

Upgrade npm modules versions
  cli/package-lock.json
  cli/package.json
Due: prettier --write

Fix test run
  cli/jest.config.js
  cli/package-lock.json
  cli/package.json
  cli/src/commands/apply/resources.ts
Due: prettier --write, eslint --fix

Review fixes
  cli/src/commands/apply/resources.ts
  cli/src/utils/build-stitched-schema.ts
  cli/tests/resources/schemas/department.yaml
Due: prettier --write, eslint --fix

More review fixes
  cli/src/commands/apply/resources.ts
  cli/src/utils/read-schema-files.ts
Due: prettier --write, eslint --fix

CLI: Schema resource type support multiple files (#218)
  .eslintrc
  .github/workflows/cli.yaml
  cli/jest.config.js
  cli/oclif.manifest.json
  cli/package-lock.json
  cli/package.json
  cli/src/commands/apply/resources.ts
  cli/src/utils/read-schema-files.ts
  cli/tests/apply-resources.spec.ts
  cli/tests/resources/schemas/department-2.gql
  cli/tests/resources/schemas/department.gql
  cli/tests/resources/schemas/department.yaml
Due: prettier --write, eslint --fix

CLI docs udated
  cli/README.md
  cli/tsconfig.json
Due: prettier --write

CLI docs udated (#220)
  cli/README.md
  cli/tsconfig.json
Due: prettier --write

Schema federation e2e tests added
  services/tests/e2e/basic/__snapshots__/federation.spec.ts.snap
  services/tests/e2e/basic/federation.schema.ts
  services/tests/e2e/basic/federation.spec.ts
Due: prettier --write, eslint --fix

Fix test types naming
  services/tests/e2e/basic/federation.schema.ts
Due: prettier --write, eslint --fix

Schema federation e2e tests added (#219)
  services/tests/e2e/basic/__snapshots__/federation.spec.ts.snap
  services/tests/e2e/basic/federation.schema.ts
  services/tests/e2e/basic/federation.spec.ts
Due: prettier --write, eslint --fix

Default metrics added to Registry
  services/src/registry.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Fix metrics test assertion
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Fix metrics test assertion, again
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Registry Metrics endpoint with default metrics (#222)
  services/src/registry.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Refactor base schema for plugin - include directives
  services/package.json
  services/src/modules/base-schema/__snapshots__/scalars.spec.ts.snap
  services/src/modules/base-schema/index.ts
  services/src/modules/base-schema/scalars.spec.ts
  services/src/modules/base-schema/scalars.ts
  services/src/modules/build-federated-schema.ts
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/stub.spec.ts
  services/src/modules/graphql-service.ts
  services/src/modules/registry-schema/resolvers.ts
  services/tests/integration/gateway/policies-directive.spec.ts
  services/tests/integration/gateway/policy-directive.spec.ts
Due: prettier --write, eslint --fix

Docs updated
  .eslintrc
  docs/plugins.md
  services/tests/e2e/config/plugins/transform-base-schema/package-lock.json
  services/tests/e2e/config/plugins/transform-base-schema/package.json
  services/tests/e2e/config/plugins/transform-base-schema/src/index.ts
Due: prettier --write, eslint --fix
