Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Api key auth strategy (#315)
  services/src/gateway.ts
  services/src/modules/authentication/index.ts
  services/src/modules/authentication/jwt-decoder-plugin.ts
  services/src/modules/authentication/strategies/__snapshots__/anonymous.spec.ts.snap
  services/src/modules/authentication/strategies/__snapshots__/api-key.spec.ts.snap
  services/src/modules/authentication/strategies/__snapshots__/jwt.spec.ts.snap
  services/src/modules/authentication/strategies/anonymous.spec.ts
  services/src/modules/authentication/strategies/anonymous.ts
  services/src/modules/authentication/strategies/api-key.spec.ts
  services/src/modules/authentication/strategies/api-key.ts
  services/src/modules/authentication/strategies/index.ts
  services/src/modules/authentication/strategies/jwt.spec.ts
  services/src/modules/authentication/strategies/jwt.ts
  services/src/modules/authentication/types.ts
  services/tests/e2e/authentication/__snapshots__/api-key.spec.ts.snap
  services/tests/e2e/authentication/api-key.spec.ts
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Split tests
  .github/workflows/pr.yaml
Due: prettier --write

Remove test:full:ci
  services/package.json
Due: prettier --write

Fix registry resolvers
  services/src/modules/registry-schema/resolvers/delete-resources.ts
  services/src/modules/registry-schema/resolvers/rebuild-resource-group.ts
  services/src/modules/registry-schema/resolvers/update-resource-group.ts
Due: prettier --write, eslint --fix

Fix blackbox tests
  services/tests/blackbox/cors.spec.ts
  services/tests/blackbox/enum-resolver.spec.ts
  services/tests/blackbox/logger.spec.ts
  services/tests/blackbox/remote-schema-with-upstream.spec.ts
  services/tests/blackbox/remote-schemas.spec.ts
  services/tests/blackbox/requires-directive.spec.ts
  services/tests/blackbox/upstreams/default-default-upstream.spec.ts
  services/tests/blackbox/upstreams/upstream-credentials-gql.spec.ts
  services/tests/blackbox/upstreams/upstream-credentials-rest.spec.ts
  services/tests/blackbox/upstreams/upstream-for-gql.spec.ts
  services/tests/blackbox/upstreams/upstream-headers.spec.ts
  services/tests/blackbox/upstreams/upstream-introspect-query.spec.ts
Due: prettier --write, eslint --fix

Fix e2e tests
  services/tests/e2e/.env
  services/tests/e2e/authentication/__snapshots__/api-key.spec.ts.snap
  services/tests/e2e/authentication/__snapshots__/verify-jwt.spec.ts.snap
  services/tests/e2e/authentication/api-key.spec.ts
  services/tests/e2e/authentication/verify-jwt.spec.ts
  services/tests/e2e/authorization/auth-base-policy.spec.ts
  services/tests/e2e/authorization/auth-directives-order.spec.ts
  services/tests/e2e/authorization/auth-jwt.spec.ts
  services/tests/e2e/authorization/auth-object-directive.spec.ts
  services/tests/e2e/authorization/auth-policies-directive.spec.ts
  services/tests/e2e/authorization/auth-with-queries.spec.ts
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/federation.spec.ts
  services/tests/e2e/basic/hello-world.schema.ts
  services/tests/e2e/basic/hello-world.spec.ts
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/basic/policy-as-query-field.spec.ts
  services/tests/e2e/basic/rego-functions.spec.ts
  services/tests/e2e/basic/resource-query.spec.ts
  services/tests/e2e/docker-compose.yml
  services/tests/e2e/ignore-policies/ignore-policies.spec.ts
  services/tests/e2e/jest-e2e-runner.js
  services/tests/e2e/setup.js
  services/tests/helpers/utility.ts
Due: prettier --write, eslint --fix

Refactor resource group update mechanism
  services/package-lock.json
  services/package.json
  services/src/gateway.ts
  services/src/modules/apollo-server/build-federated-schema.ts
  services/src/modules/apollo-server/create-gateway-schema.ts
  services/src/modules/apollo-server/create-graphql-service.ts
  services/src/modules/apollo-server/index.ts
  services/src/modules/gateway.ts
  services/src/modules/graphql-service.ts
  services/src/modules/resource-repository/index.ts
  services/src/modules/resource-repository/stream.ts
  services/src/registry.ts
Due: prettier --write, eslint --fix

Fix integration tests
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive/directive.spec.ts
  services/tests/integration/gateway/gql-directive/upstreams.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/rest-directive/directive.spec.ts
  services/tests/integration/gateway/rest-directive/upstreams.spec.ts
  services/tests/integration/gateway/schema-extensions.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
Due: prettier --write, eslint --fix

Increase heap size
  services/package.json
Due: prettier --write

fixup! Increase heap size
  services/package.json
Due: prettier --write

CI: separate tests run
  .github/workflows/pr.yaml
  services/package.json
Due: prettier --write

Add test for invalid schema in storage
  services/tests/blackbox/__snapshots__/invalid-schema.spec.ts.snap
  services/tests/blackbox/invalid-schema.spec.ts
  services/tests/blackbox/setup.js
Due: prettier --write, eslint --fix

p-limit: update version & fix breaking changes
  services/package-lock.json
  services/package.json
  services/src/modules/registry-schema/resolvers/delete-resources.ts
  services/src/modules/registry-schema/resolvers/rebuild-resource-group.ts
  services/src/modules/registry-schema/resolvers/refresh-remote-schema.ts
  services/src/modules/registry-schema/resolvers/update-resource-group.ts
  services/src/modules/resource-repository/resource-repository.ts
  services/src/modules/storage/fs.ts
Due: prettier --write, eslint --fix

@apollo/federation: update version & fix breaking changes
  services/package-lock.json
  services/src/modules/registry-schema/validation/__snapshots__/validation.spec.ts.snap
  services/tests/blackbox/__snapshots__/remote-schemas.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-directives-order.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-object-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-with-queries.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/base-policy.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policy-directive.spec.ts.snap
  services/tests/utils/graphql-error-serializer.ts
Due: prettier --write, eslint --fix

jwks-rsa: update version & fix breaking changes
  services/package-lock.json
  services/package.json
  services/src/modules/authentication/get-secret.ts
  services/src/modules/authentication/types.ts
Due: prettier --write, eslint --fix

apollo-server-fastify: update version & fix breaking changes
  services/package-lock.json
  services/src/registry.ts
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
Due: prettier --write, eslint --fix

pino: update version & fix breaking changes
  services/package-lock.json
  services/package.json
  services/tests/e2e/authentication/__snapshots__/verify-jwt.spec.ts.snap
Due: prettier --write

move @types modules to devDependencies
  services/package.json
Due: prettier --write

upgrade modules w/o breaking changes
  services/package-lock.json
  services/package.json
Due: prettier --write

Upgrade repo root modules
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

graphql-request: update version & fix breaking changes
  services/tests/helpers/get-token.ts
Due: prettier --write, eslint --fix

Change wrong schema type name to avoid suggestions
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/hello-world.schema.ts
Due: prettier --write, eslint --fix

Upgrade npm modules 2021-04 (#310)
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
  services/package-lock.json
  services/package.json
  services/src/modules/authentication/get-secret.ts
  services/src/modules/authentication/types.ts
  services/src/modules/registry-schema/resolvers/delete-resources.ts
  services/src/modules/registry-schema/resolvers/rebuild-resource-group.ts
  services/src/modules/registry-schema/resolvers/refresh-remote-schema.ts
  services/src/modules/registry-schema/resolvers/update-resource-group.ts
  services/src/modules/registry-schema/validation/__snapshots__/validation.spec.ts.snap
  services/src/modules/resource-repository/resource-repository.ts
  services/src/modules/storage/fs.ts
  services/src/registry.ts
  services/tests/blackbox/__snapshots__/remote-schemas.spec.ts.snap
  services/tests/e2e/authentication/__snapshots__/verify-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-directives-order.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-object-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-with-queries.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/hello-world.schema.ts
  services/tests/helpers/get-token.ts
  services/tests/integration/gateway/__snapshots__/base-policy.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policy-directive.spec.ts.snap
  services/tests/utils/graphql-error-serializer.ts
Due: prettier --write, eslint --fix

graphql-error-serializer: add path to error
  services/tests/blackbox/__snapshots__/remote-schemas.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-directives-order.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-object-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-with-queries.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/base-policy.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policy-directive.spec.ts.snap
  services/tests/utils/graphql-error-serializer.ts
Due: prettier --write, eslint --fix

@localResolver: allow object type + tests + docks
  docs/data_sources.md
  docs/directives.md
  docs/directives/local-resolver.md
  docs/images/local-resolver-directive-flow-diagram.png
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

@errorHandler directive
  services/src/modules/directives/error-handler.ts
  services/src/modules/directives/index.ts
Due: prettier --write, eslint --fix

Tests
  services/src/modules/directives/__snapshots__/error-handler.spec.ts.snap
  services/src/modules/directives/error-handler.spec.ts
  services/tests/e2e/authorization/__snapshots__/auth-replace-error.spec.ts.snap
  services/tests/e2e/authorization/auth-replace-error.schema.ts
  services/tests/e2e/authorization/auth-replace-error.spec.ts
Due: prettier --write, eslint --fix

Docs
  README.md
  docs/directives.md
  docs/directives/error-handler.md
  docs/images/error-handler-directive-flow-diagram.png
Due: prettier --write

UnauthorizedByPolicyError
  services/src/modules/directives/policy/index.ts
  services/src/modules/directives/policy/policy-executor.ts
  services/src/modules/directives/policy/unauthorized-by-policy-error.ts
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-directives-order.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-object-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-with-queries.spec.ts.snap
  services/tests/e2e/authorization/auth-replace-error.schema.ts
  services/tests/integration/gateway/__snapshots__/base-policy.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/policies-directive.spec.ts
Due: prettier --write, eslint --fix

PR review changes
  docs/images/error-handler-directive-flow-diagram.png
  services/src/modules/directives/error-handler.ts
Due: prettier --write, eslint --fix

@errorHandler directive (#319)
  README.md
  docs/data_sources.md
  docs/directives.md
  docs/directives/error-handler.md
  docs/directives/local-resolver.md
  docs/images/error-handler-directive-flow-diagram.png
  docs/images/local-resolver-directive-flow-diagram.png
  services/src/modules/directives/__snapshots__/error-handler.spec.ts.snap
  services/src/modules/directives/error-handler.spec.ts
  services/src/modules/directives/error-handler.ts
  services/src/modules/directives/index.ts
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
  services/src/modules/directives/policy/index.ts
  services/src/modules/directives/policy/policy-executor.ts
  services/src/modules/directives/policy/unauthorized-by-policy-error.ts
  services/tests/blackbox/__snapshots__/remote-schemas.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-directives-order.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-jwt.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-object-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-policies-directive.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-replace-error.spec.ts.snap
  services/tests/e2e/authorization/__snapshots__/auth-with-queries.spec.ts.snap
  services/tests/e2e/authorization/auth-replace-error.schema.ts
  services/tests/e2e/authorization/auth-replace-error.spec.ts
  services/tests/e2e/basic/__snapshots__/hello-world.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/base-policy.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/implicit-type-resolver.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policies-directive.spec.ts.snap
  services/tests/integration/gateway/__snapshots__/policy-directive.spec.ts.snap
  services/tests/integration/gateway/policies-directive.spec.ts
  services/tests/utils/graphql-error-serializer.ts
Due: prettier --write, eslint --fix

Metrics: define custom metric buckets
  services/src/modules/apollo-server-plugins/metrics.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Metrics: define custom metric buckets (#320)
  services/src/modules/apollo-server-plugins/metrics.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Fix @localResolver merge strategy bug
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

Docs: Flow diagram updated
  docs/images/local-resolver-directive-flow-diagram.png
Due: none

Fix @localResolver merge strategy bug (#321)
  docs/images/local-resolver-directive-flow-diagram.png
  services/src/modules/directives/local-resolver.spec.ts
  services/src/modules/directives/local-resolver.ts
Due: prettier --write, eslint --fix

Extend playground config support
  services/src/modules/config.ts
Due: prettier --write, eslint --fix

Assert wasm file was created
  services/src/modules/opa-helper.ts
  services/tests/helpers/mock-fs-for-opa.ts
Due: prettier --write, eslint --fix

Update config.ts
  services/src/modules/config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.{json,yaml,yml,md})
  eslint --fix: any of: **/*.ts
