Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add certificate support
  services/src/gateway.ts
  services/src/modules/certs/apply-ceritficates.ts
  services/src/registry.ts
  services/tests/e2e/.env
Due: prettier --write, eslint --fix

Fix: Base policy on field w/o directives
  services/src/modules/apollo-server-plugins/base-policy.ts
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/auth-base-policy.schema.ts
Due: prettier --write, eslint --fix

Fix: Base policy on field w/o directives (#334)
  services/src/modules/apollo-server-plugins/base-policy.ts
  services/tests/e2e/authorization/__snapshots__/auth-base-policy.spec.ts.snap
  services/tests/e2e/authorization/auth-base-policy.schema.ts
Due: prettier --write, eslint --fix

Configurable request and resolver duration histogram metrics
  services/src/modules/apollo-server-plugins/metrics.ts
  services/src/modules/config.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Configurable request and resolver duration histogram metrics (#335)
  services/src/modules/apollo-server-plugins/metrics.ts
  services/src/modules/config.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Fix: Policy with query that contains another policy with default args
  services/src/modules/registry-schema/resolvers/delete-resources.ts
  services/src/modules/registry-schema/resolvers/rebuild-resource-group.ts
  services/src/modules/registry-schema/resolvers/update-resource-group.ts
  services/tests/e2e/authorization/auth-with-queries.schema.ts
Due: prettier --write, eslint --fix

Fix integration tests
  services/tests/integration/registry/__snapshots__/delete-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/rebuild-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/update-resources.spec.ts.snap
  services/tests/integration/registry/delete-resources.spec.ts
  services/tests/integration/registry/rebuild-resources.spec.ts
  services/tests/integration/registry/update-resources.spec.ts
Due: prettier --write, eslint --fix

Fix: Policy with query that contains another policy with default args (#336)
  services/src/modules/registry-schema/resolvers/delete-resources.ts
  services/src/modules/registry-schema/resolvers/rebuild-resource-group.ts
  services/src/modules/registry-schema/resolvers/update-resource-group.ts
  services/tests/e2e/authorization/auth-with-queries.schema.ts
  services/tests/integration/registry/__snapshots__/delete-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/rebuild-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/update-resources.spec.ts.snap
  services/tests/integration/registry/delete-resources.spec.ts
  services/tests/integration/registry/rebuild-resources.spec.ts
  services/tests/integration/registry/update-resources.spec.ts
Due: prettier --write, eslint --fix

introspection query policy
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/src/modules/directives/policy/index.ts
  services/src/modules/registry-schema/resolvers/get-resources.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/src/modules/resource-repository/actions/update.ts
  services/src/modules/resource-repository/types.ts
  services/tests/integration/gateway/introspection-query-policy.spec.ts
Due: prettier --write, eslint --fix

handle apollo introspection query + allow by default
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/tests/integration/gateway/introspection-query-policy.spec.ts
Due: prettier --write, eslint --fix

add apply:introspection-query-policy to cli
  cli/README.md
  cli/src/commands/apply/introspection-query-policy.ts
  cli/tests/apply-introspection-query-policy.spec.ts
  cli/tests/data/introspection-query-policy/introspection-query-policy.yaml
Due: prettier --write, eslint --fix

make it a real plugin to allow opt out
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/tests/integration/gateway/introspection-query-policy.spec.ts
Due: prettier --write, eslint --fix

add introspectionQueryPolicy to all types and schemas
  cli/src/client/index.ts
  cli/src/client/types.ts
  cli/src/commands/apply/introspection-query-policy.ts
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/src/modules/resource-repository/actions/delete.ts
  services/tests/helpers/registry-request-builder.ts
Due: prettier --write, eslint --fix

bump cli version
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
Due: prettier --write

Update services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
Due: prettier --write, eslint --fix

introspection query policy (#337)
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
  cli/src/client/index.ts
  cli/src/client/types.ts
  cli/src/commands/apply/introspection-query-policy.ts
  cli/tests/apply-introspection-query-policy.spec.ts
  cli/tests/data/introspection-query-policy/introspection-query-policy.yaml
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/src/modules/directives/policy/index.ts
  services/src/modules/registry-schema/resolvers/get-resources.ts
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/src/modules/resource-repository/actions/delete.ts
  services/src/modules/resource-repository/actions/update.ts
  services/src/modules/resource-repository/types.ts
  services/tests/helpers/registry-request-builder.ts
  services/tests/integration/gateway/introspection-query-policy.spec.ts
Due: prettier --write, eslint --fix

fix cli apply:introspection-query-policy
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
  cli/src/client/index.ts
Due: prettier --write, eslint --fix

fix cli apply:introspection-query-policy (#338)
  cli/README.md
  cli/oclif.manifest.json
  cli/package.json
  cli/src/client/index.ts
Due: prettier --write, eslint --fix

introspection query policy is a Policy
  cli/oclif.manifest.json
  cli/src/client/index.ts
  cli/src/client/types.ts
  cli/src/commands/apply/introspection-query-policy.ts
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/tests/helpers/registry-request-builder.ts
Due: prettier --write, eslint --fix

introspection query policy is a BasePolicy
  cli/package.json
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
Due: prettier --write, eslint --fix

introspection query policy is a BasePolicy
  cli/src/client/index.ts
  cli/src/client/types.ts
  cli/src/commands/apply/introspection-query-policy.ts
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/tests/helpers/registry-request-builder.ts
Due: prettier --write, eslint --fix

remove duplicate type
  services/src/modules/registry-schema/typedefs.ts
Due: prettier --write, eslint --fix

Fix introspection query policy types (#340)
  cli/package.json
  cli/src/client/index.ts
  cli/src/client/types.ts
  cli/src/commands/apply/introspection-query-policy.ts
  services/src/modules/apollo-server-plugins/introspection-query-policy.ts
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/src/modules/registry-schema/types.ts
  services/tests/helpers/registry-request-builder.ts
Due: prettier --write, eslint --fix

remove duplicate type
  cli/src/client/types.ts
Due: prettier --write, eslint --fix

remove duplicate type (#341)
  cli/src/client/types.ts
Due: prettier --write, eslint --fix

registry - testConnection query
  package-lock.json
  services/package-lock.json
  services/package.json
  services/src/modules/registry-schema/resolvers/index.ts
  services/src/modules/registry-schema/typedefs.ts
  services/tests/integration/registry/test-connection.spec.ts
Due: prettier --write, eslint --fix

Create CODEOWNERS
  CODEOWNERS
Due: none

Create CODEOWNERS (#344)
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#345)
  CODEOWNERS
Due: none

Status badge raised up
  README.md
Due: prettier --write

Status badge raised up (#346)
  README.md
Due: prettier --write

Added status endpoint to registry
  .eslintrc
  services/package.json
  services/src/gateway.ts
  services/src/modules/authentication/strategies/anonymous.ts
  services/src/modules/config.ts
  services/src/modules/resource-repository/composite.ts
  services/src/modules/resource-repository/fs-repository.ts
  services/src/modules/resource-repository/resource-repository.ts
  services/src/modules/resource-repository/s3-repository.ts
  services/src/modules/resource-repository/types.ts
  services/src/modules/status-handler.ts
  services/src/registry.ts
  services/tests/blackbox/setup.js
  services/tests/blackbox/status-endpoint.spec.ts
Due: prettier --write, eslint --fix

cli: update engine
  cli/package.json
Due: prettier --write

cli: update engine (#348)
  cli/package.json
Due: prettier --write

fix: services/package.json & services/package-lock.json to reduce vulnerabilities
  services/package-lock.json
  services/package.json
Due: prettier --write

add option for using a keep-alive timeout
  services/src/gateway.ts
  services/src/modules/config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.{json,yaml,yml,md})
  eslint --fix: any of: **/*.ts
