Repository Soluto/stitch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix GHCR push pipeline (#284)
  .github/workflows/push.yaml
Due: prettier --write

Update readme for GHCR
  README.md
Due: prettier --write

Checkout on push action
  .github/workflows/push.yaml
Due: prettier --write

Fix file path in ghcr push
  .github/workflows/push.yaml
Due: prettier --write

I love PRs
  .github/workflows/push.yaml
Due: prettier --write

Migrate from Dockerhub to GHCR
  .github/workflows/tag.yaml
Due: prettier --write

Remove circleci
  .circleci/config.yml
Due: prettier --write

Update readme
  README.md
Due: prettier --write

Migrate from Dockerhub to GHRC (#289)
  .circleci/config.yml
  .github/workflows/tag.yaml
  README.md
Due: prettier --write

support injection multinline full match
  services/src/modules/arguments-injection/arguments-evaluation.spec.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
Due: prettier --write, eslint --fix

support injection multinline full match (#291)
  services/src/modules/arguments-injection/arguments-evaluation.spec.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
Due: prettier --write, eslint --fix

fix multiline without leading spaces
  services/src/modules/arguments-injection/arguments-evaluation.spec.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
  services/src/modules/directives/local-resolver.spec.ts
Due: prettier --write, eslint --fix

fix multiline without leading spaces (#292)
  services/src/modules/arguments-injection/arguments-evaluation.spec.ts
  services/src/modules/arguments-injection/arguments-evaluation.ts
  services/src/modules/directives/local-resolver.spec.ts
Due: prettier --write, eslint --fix

Fix existing tests
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive/directive.spec.ts
  services/tests/integration/gateway/gql-directive/upstreams.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/rest-directive/directive.spec.ts
  services/tests/integration/gateway/rest-directive/upstreams.spec.ts
  services/tests/integration/gateway/schema-extensions.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
Due: prettier --write, eslint --fix

Plugins: Add transformApolloServerPlugins function
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/types.ts
Due: prettier --write, eslint --fix

Add e2e tests
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/package-lock.json
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/package.json
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/src/index.ts
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/tsconfig.json
  services/tests/e2e/docker-compose.yml
Due: prettier --write, eslint --fix

Update docs
  docs/plugins.md
Due: prettier --write

Plugins: transformApolloServerPlugins function added (#290)
  docs/plugins.md
  services/src/modules/apollo-server-plugins/index.ts
  services/src/modules/gateway.ts
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/plugins/index.ts
  services/src/modules/plugins/types.ts
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/package-lock.json
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/package.json
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/src/index.ts
  services/tests/e2e/config/plugins/transform-apollo-server-plugins/tsconfig.json
  services/tests/e2e/docker-compose.yml
  services/tests/integration/gateway/base-policy.spec.ts
  services/tests/integration/gateway/custom-scalars.spec.ts
  services/tests/integration/gateway/export-directive.spec.ts
  services/tests/integration/gateway/gql-directive/directive.spec.ts
  services/tests/integration/gateway/gql-directive/upstreams.spec.ts
  services/tests/integration/gateway/hello-world.spec.ts
  services/tests/integration/gateway/implicit-type-resolver.spec.ts
  services/tests/integration/gateway/policy-caching.spec.ts
  services/tests/integration/gateway/rest-directive/directive.spec.ts
  services/tests/integration/gateway/rest-directive/upstreams.spec.ts
  services/tests/integration/gateway/schema-extensions.spec.ts
  services/tests/integration/gateway/schema-updates.spec.ts
Due: prettier --write, eslint --fix

Type check in PR
  .github/workflows/pr.yaml
  services/package.json
Due: prettier --write

package-lock files for plugins
  services/tests/e2e/config/plugins/folder-with-node-module/package-lock.json
  services/tests/e2e/config/plugins/folder-with-npm-module/package-lock.json
  services/tests/e2e/config/plugins/folder-with-package-json-file/package-lock.json
  services/tests/e2e/config/plugins/transform-base-schema/package-lock.json
Due: prettier --write

Metrics for parsing and validation errors
  services/src/modules/apollo-server-plugins/metrics.ts
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Add request parsing and validation metrics
  services/src/modules/apollo-server-plugins/metrics.ts
  services/tests/e2e/basic/__snapshots__/metrics.spec.ts.snap
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Refactor metrics.spec.ts
  services/tests/e2e/basic/metrics.spec.ts
Due: prettier --write, eslint --fix

Plugins documentation updated
  docs/plugins.md
Due: prettier --write

Plugins documentation updated (#295)
  docs/plugins.md
Due: prettier --write

export plugin data to injection
  services/src/modules/arguments-injection/arguments-injection.spec.ts
  services/src/modules/arguments-injection/arguments-injection.ts
  services/src/modules/plugins/__snapshots__/transform-resource-group.spec.ts.snap
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/resource-repository/types.ts
  services/tests/blackbox/__snapshots__/resource-metadata.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-resource-group.js
  services/tests/integration/registry/__snapshots__/create-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/delete-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/rebuild-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/update-resources.spec.ts.snap
Due: prettier --write, eslint --fix

Update test snapshots
  services/tests/blackbox/__snapshots__/resource-metadata.spec.ts.snap
  services/tests/integration/registry/__snapshots__/create-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/delete-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/rebuild-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/update-resources.spec.ts.snap
Due: none

docs
  docs/arguments_injection.md
  docs/plugins.md
Due: prettier --write

export plugin data to injection (#296)
  docs/arguments_injection.md
  docs/plugins.md
  services/src/modules/arguments-injection/arguments-injection.spec.ts
  services/src/modules/arguments-injection/arguments-injection.ts
  services/src/modules/plugins/__snapshots__/transform-resource-group.spec.ts.snap
  services/src/modules/plugins/apply-plugins.ts
  services/src/modules/resource-repository/types.ts
  services/tests/blackbox/__snapshots__/resource-metadata.spec.ts.snap
  services/tests/e2e/basic/__snapshots__/plugins.spec.ts.snap
  services/tests/e2e/basic/plugins.schema.ts
  services/tests/e2e/basic/plugins.spec.ts
  services/tests/e2e/config/plugins/transform-resource-group.js
  services/tests/integration/registry/__snapshots__/create-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/delete-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/rebuild-resources.spec.ts.snap
  services/tests/integration/registry/__snapshots__/update-resources.spec.ts.snap
Due: prettier --write, eslint --fix

Request and response logging
  services/src/modules/apollo-server-plugins/logging.ts
  services/tests/e2e/authentication/__snapshots__/verify-jwt.spec.ts.snap
  services/tests/e2e/authentication/verify-jwt.schema.ts
  services/tests/e2e/authentication/verify-jwt.spec.ts
Due: prettier --write, eslint --fix

Log level warning
  services/src/modules/logger.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.{json,yaml,yml,md})
  eslint --fix: any of: **/*.ts
